[2016-11-28 14:38] dmichael opened #1 "Custom object for WEBSOCKET_MESSAGE"
payload: { ...event, timestamp: () }

[2016-12-09 17:03] kevinmaes opened #3 "Allow namespace and delimiter to be set by applications"
This is a future task for when we opensource this library. It is based on a similar task in redux-openfin. See examples there for details.

https://github.com/giantmachines/redux-openfin/issues/7

[2017-06-20 14:26] W1ndst0rm opened #9 "Package not found in npm"
I tried using npm to install the package using the command at https://github.com/giantmachines/redux-websocket#installation. It returns a 404 error.

[code]

This looks like a great package and I'd love to see it more readily available.

[2017-07-06 11:36] mathieux51 commented on #9
Thanks to this [question](https://stackoverflow.com/questions/17509669/how-to-install-an-npm-package-from-github-directly) i tried
[code]
and it worked

[2017-07-24 15:18] odragora commented on #9
Yarn can't locate package as well.

[2017-10-11 02:25] a-type commented on #9
If the author doesn't end up publishing in NPM, you can still install the dependency using `npm i --save https://github.com/giantmachines/redux-websocket.git`. Obviously not ideal.

[2017-11-03 16:51] jheirtzler commented on #9
Has anyone contacted the authors about publishing this?

[2017-11-03 17:52] hugows commented on #9
Installing with git://.. worked here, but the packager has errors finding/including the lib.

[2017-11-06 14:23] a-type commented on #9
@hugows right, since they don't have the `dist` folder (transpiled sources) tracked in their Git repo, it won't work. You could workaround this by running `npm i && npm run build` in the library's directory inside your `node_modules`, but that will only work for the local machine and need to be repeated for all team members and every time you refresh `node_modules`.

FWIW, if the owners don't publ

[2018-01-29 18:10] tylerbuchea commented on #9
I created a PR (#10 ) that will fix this issue. Until then I have published the package under my own NPM account, so you can use my version for the time being:

[code]

[2018-05-21 19:11] samuelcastro opened #11 "Sockjs or Socket.io"
How can I connect this middleware with different websocket solutions such as sockjs or socket.io?

[2018-05-21 19:13] samuelcastro commented on #11
nvm just found reading test files:

[code]

[2018-05-22 15:13] samuelcastro commented on #9
Tried to use your version @tylerbuchea but is not working for some reason as well, end up just creating mine:
[code]

Would be very helpful if the owner publish it so we can all have just entry point instead of creating many other versions.

[2018-05-24 00:15] #11 closed

[2018-06-03 12:16] thg303 opened #12 "conflict with redux-thunk"
using this package with redux-thunk causes an error:
"Can not read property 'type' of undefined"

[2018-06-06 14:55] thg303 commented on #12
sorry, that error was because of another issue.

[2018-06-06 14:55] #12 closed

[2018-11-12 10:50] lyrixx commented on #9
Hello @brianmcallister

Are you still supporting this lib?

Thanks

[2018-11-12 14:29] brianmcallister commented on #9
Sorry everyone! This is a little bit of an older package, and I wasn't getting notifications until @lyrixx mentioned me.

So, I just did `yarn add @giantmachines/redux-websocket` and `npm i @giantmachines/redux-websocket -E`, and I was able to to install this package just fine.

Giant Machines does want to continue supporting this, so if anybody is still affected, please let me know.

[2018-11-12 21:55] brianmcallister commented on #9
Just another quick update, I've published this as public on the npm registry, so hopefully this isn't a problem anymore.

I'm going to go ahead and close this issue for the time being, but if anyone has any further trouble, please open another issue or reach out directly.

[2018-11-12 21:55] #9 closed

[2018-11-30 23:57] iMerica opened #15 "Details or Guidance on Reconnecting"
Upon redeploying, servers get rebooted and connections are closed server side.

How can we gracefully handle reconnecting using this tool?

[2018-12-18 07:16] mehamasum opened #16 "Middleware doesn't return anything"
The original `store.dispatch` method returns the dispatched action.
So, your middleware should return the value of `next(action)`. Otherwise the original signature of `store.dispatch` is changed and any other middleware that returns their own dispatched action will receive `undefined` up the chain.

Relevant docs:
- https://redux.js.org/api/store#dispatch
- https://redux.js.org/advanced/middleware

[2018-12-18 07:20] #16 closed

[2019-01-11 20:41] yantakus opened #19 "Send message onOpen"
How do I do this with `redux-websocket`:

[code]

[2019-01-22 06:16] nwestbury commented on #19
Wondering this exact thing. Worst comes to worst, it may be possible to write our own `websocket` middleware.

[2019-01-22 06:45] yantakus commented on #19
@nwestbury I did it like this: https://github.com/yantakus/bfx/blob/a3bf5b26cfed24e4dd3887ecdd9a331910cf0d71/src/components/Ticker/index.js#L8-L17
but of course it's kinda hacky stuff comparing to `w.on('open', () => w.send(...`.

[2019-01-22 08:31] nwestbury commented on #19
@yantakus Thanks, I ended up taking that approach, update the state on `WEBSOCKET_OPEN` and check the prop change.

[2019-02-12 17:03] brianmcallister commented on #19
@yantakus You could do this now by tracking the state of your connection in the store, and then dispatching a `WEBSOCKET_SEND` action with your payload when the store changes, which is exactly what @yantakus did (which I don't think is hacky at all, you could find a lot of value tracking your connection state in your store).

We're working on overhauling this library to incorporate some of the fea

[2019-02-12 17:03] #19 closed

[2019-02-12 17:05] brianmcallister commented on #15
Hey @iMerica! There's some logic in a PR for reconnection here: https://github.com/giantmachines/redux-websocket/pull/8

However, we're working on overhauling this library, and we're going to incorporate reconnection logic into our `1.0` release. In the meantime, check out that PR. There's also a fork published to npm that has simple reconnection logic built in.

I'm going to close this issue, but

[2019-02-12 17:05] #15 closed

[2019-02-12 17:05] brianmcallister commented on #3
On the roadmap for `1.0`. Tracking progress here: https://github.com/giantmachines/redux-websocket/projects/1#card-17521446

[2019-02-12 17:05] #3 closed

[2019-02-12 17:06] #1 closed

[2019-03-11 10:53] sebinator opened #33 "cannot connect"
Hi, i wish to know what I'm doing wrong,
here i my dispatch

`
import { WEBSOCKET_CONNECT, WEBSOCKET_DISCONNECT } from '@giantmachines/redux-websocket';
...

const mapDispatchToProps = (dispatch) => {
    return {
        wssconnect: (url) => dispatch({type: WEBSOCKET_CONNECT,  payload: { url }}),
        wssdisconnect: () => dispatch({type: WEBSOCKET_DISCONNECT})
    }
}
`

and then to connect/di

[2019-03-13 15:48] mfreeman-xtivia opened #34 "Single Websocket Connection?"
If I am reading the code correctly it would appear that this middleware only supports a single websocket connection at a time -- is that right?

i.e. there is no way to have multiple connections open and have the messages that are received passed back into redux with some indication of the connection to which they belong?

[2019-03-26 16:28] brianmcallister commented on #33
Hey @sebinator, it looks like you're dispatching the action with the correct structure, but I don't see `url` defined anywhere in your code snippet. Is it defined in a higher scope?

[2019-03-26 16:31] brianmcallister commented on #34
Hey @mfreeman-xtivia, yep, you're correct that the currently published version only supports a single connection right now.

We're working on changing this library for our 1.0 release so that the library exports a middleware creator function, from which you can create multiple instances (and therefore multiple connections).

As soon as we get #37 merged, you should be able to open up multiple conn

[2019-03-30 19:42] LittlePony opened #43 "[Feature request] v1. Custom 'message' action creator"
New option for createWebsocket, something like 'onMessage' to replace builtin 'message' action creator.
This will allow the use of one websocket channel for different reducers.

[2019-04-01 16:10] brianmcallister commented on #43
Hey @LittlePony, great suggestion. We are currently adding a feature to allow for custom prefixes in action names. That feature is targeted more towards the use case of handling multiple websocket connections.

However, you could structure your reducers so that actions can be handled by multiple. Could you provide a specific example in code of what you're trying to do?

[2019-04-02 14:48] Craigson opened #44 ""Uncaught TypeError: next is not a function" in createMiddleware()"
I'm getting the following: ``` Uncaught TypeError: next is not a function```

Which is referring to the ```return next(action)``` line in the createMiddleware() fn.

[code]

Creating my store as follows:

[code]

Any thoughts?

[2019-04-02 22:46] brianmcallister commented on #44
At first glance, the only difference I see here is the integration with the Redux dev tools. Can you check to see that you're not getting the same exact error when _only_ using `thunk`? If not, we'll have to take a closer look at what's going on.

I didn't think it would be possible for a middleware in the stack to have control over what that `next` argument is (I thought it was managed fully by R

[2019-04-02 22:50] brianmcallister commented on #44
Oh and it looks like you're using the `1.0-dev` branch. Is that correct?

[2019-04-03 13:59] Craigson commented on #44
Hi @brianmcallister, I can confirm that I **don't** get the same error when using only thunk.   And I was using package from npm, so I'm assuming 0.3.0?

[2019-04-03 14:36] brianmcallister commented on #44
Got it. So, the currently published version is a little weird in that we're exporting the middleware function itself, and not a middleware creator function (like most other middleware). We're actively fixing that in the upcoming `1.0` release.

For the current `latest` version, _don't_ call the exported function, instead pass it directly to `applyMiddleware`.

Let me know how that works out.

[2019-04-09 15:26] TPABHuKOB commented on #43
Nice, I also wanted to suggest it.
@brianmcallister for example we have app with 10-20 messages per second throwed by websocket.
Redux performance guidelines https://redux.js.org/faq/performance suggest to avoid unnecessary dispatches.  So that is why we have function what filter websocket messages.
And yes, we can't change backend because that API used by other apps.

I think it must be option
[c

[2019-04-09 17:44] brianmcallister commented on #43
@TPABHuKOB I see what you mean. I think in the case where you have a large number of updates, you might want to consider not using Redux at all.

For example, Giant Machines builds a lot of trading applications. Apps like this have multiple real time feeds, and usually at least one for price updates on whatever asset the application trades. Because we don't care about historical prices for assets

[2019-04-10 09:13] TPABHuKOB commented on #43
@brianmcallister another case:
I want to have readable code. But with WEBSOCKET_MESSAGE my reducer will become messy like
[code]
Almost all my reducer will got WEBSOCKET_MESSAGE 'switch case' block.
So i want to pass to middleware somthing like 'action creator'

[2019-04-16 21:45] brianmcallister commented on #19
Just by way of an update, we have added an `onOpen` callback into the configuration options of the middleware creator branch.

It's not yet published (though it is merged into `1.0-dev`), so you can check it out if you clone this repo.

Feel free to submit more feature requests in the future. We're getting very close to getting `1.0` released with some fancy new documentation as well.

[2019-04-17 20:39] brianmcallister commented on #44
Hey @Craigson, I just published `1.0.0`, which will allow you to do this:

[code]

Give it a shot and let me know how it works out!

[2019-04-17 20:41] brianmcallister commented on #34
@mfreeman-xtivia I just published `1.0.0`. Check out the thread in #44 for an example of how you can support multiple connections. Let me know how it goes!

[2019-04-17 20:41] brianmcallister commented on #33
Going to close this out due to inactivity, but @sebinator if you're still having trouble feel free to reopen.

[2019-04-17 20:41] #33 closed

[2019-04-21 15:47] Nolence opened #52 "extraneous: eslint@5.12.0"
After moving from `^0.3.0` to `^1.0.0` and trying to start my project I've been getting this preflight error:

[code]

I've tried all the fixes it mentions (except adding the .env file) and am still receiving the same error.

I ran `npm ls eslint` and found this:

[code]

Any advice on what to do?

[2019-04-22 04:08] Nolence opened #53 "Exponential Websocket Connection Errors"
In my app I've setup the store to look like this:

[code]

In another file, I try to setup the connection:

[code]

It successfully tries to connect. However, less than thirty seconds later, it's sending about 1000 requests per second, freezing my tab up. the `useEffect` is only being called once. My wsReducer is letting the state fall straight through. Not sure what is causing this but previous t

[2019-04-22 14:29] brianmcallister commented on #53
Hey @Nolence, thanks for providing all of this info. Is it possible that the connection action is getting dispatched multiple times? Each time you dispatch a connection action, a new connection is created (and that includes another WebSocket instance), so I think it might be the case that you're unintentionally creating many WebSocket instances.

[2019-04-22 14:30] brianmcallister commented on #52
Hey @Nolence, it looks to me like this is a bug on our end. We've accidentally included `eslint` in our build. I'll publish a minor version as soon as I'm able to pull that out.

[2019-04-22 15:53] Nolence commented on #53
Thanks for helping me out @brianmcallister. I'm really not sure though if I'm calling it multiple times. I looked in several places but couldn't find anything.

Here's a very minimal example of the error I'm talking about: https://github.com/Nolence/redux_websocket_errors

[2019-04-22 16:02] brianmcallister commented on #53
This is very helpful, thanks.

I cloned that repo, and noticed a few things. When I switched the server URL to `wss://websocket-echo-server.herokuapp.com`, everything worked fine. I only saw the errors and behavior you described when trying to connect to `ws://127.0.0.1:5678/`. In that case, I immediately saw a flood of errors because I did not have a server running at that address.

This leads me

[2019-04-22 16:48] Nolence commented on #53
Cool! thanks Brian 😁

[2019-04-22 22:45] Sergeytroinin opened #56 "[Feature request] Callbacks for incoming messages"
Sometimes it's really helpful to pass a callback, which will be fired when some response will come directly for a particular message. E.g:
[code]
Then we could match two messges and call some function, when corresponding message comes to the client.
Are you considering adding such functionality? I could help with it if needed. I made similar systems in the past.

[2019-04-23 17:21] Sergeytroinin commented on #56
Hey @brianmcallister
I think it would be more clear if I provide an example from `redux-api-middleware`.
With that library, you could pass three action types, that will be fired in three cases
- Request started
- Request was successful
- Request failed

With WebSocket, it could be an optional param for `send` action. Like
[code]
With this option middleware will add some kind of `UUID` to the messa

[2019-04-23 17:39] brianmcallister commented on #56
What about a solution along these lines; First, add an option to the middleware creator. This option would be a function that would return a JavaScript object, which would then be merged with the payload of the `WEBSOCKET_SEND` action:

[code]

...then, the `send` action creator would call that function:

[code]

That way, if you wanted a `uuid`, you could add it. You could name the key whatever y

[2019-04-23 17:57] #52 closed

[2019-04-23 19:17] #53 closed

[2019-04-26 14:28] brianmcallister opened #60 "Remove action type prefix in favor of a key in 'meta'."
I propose that we remove the ability to prefix our action types in favor of adding a key in the `meta` object of an action in order to identify which instance of the middleware an action is originating from.

The reason for proposing this is so that we can better type our actions with TypeScript. The prefixing is creating an issue where we can't effectively type our actions, because the `type` fie

[2019-04-26 14:42] brianmcallister commented on #60
And I guess it's worth saying that this will be a breaking change and necessitate a 2.0 release. Wish I had thought of this sooner. 😓

[2019-04-29 02:29] Nolence opened #61 "Could not find a declaration file for module"
So I'm really new to TypeScript so I might not be understanding something but I'm not able to get the types for this package. The advice from from my IDE was

[code]

But trying to install `@types/giantmachines__redux-websocket` doesn't find anything. I noticed there is a types file in the `src` directory so I'm thinking I might just copy that into a declaration file but I'm hoping there is a bett

[2019-04-29 13:35] brianmcallister commented on #61
I made some changes in the #62 PR. Could you try pulling the repo down and using `npm link` to test locally? I made changes in the demo app and it's working great, but I'd like to make sure it's working for you as well before I publish a new version.

[2019-04-29 15:57] Nolence commented on #61
Nice! I got it working on my end too

[2019-04-29 17:41] brianmcallister commented on #61
OK great, thanks so much for testing. I'll get a new minor version out once that PR gets merged.

[2019-04-29 18:03] brianmcallister commented on #61
Just published. I'll go ahead and close this for the time being. Feel free to open up any other issues.

[2019-04-30 13:22] Nolence commented on #61
I'm sorry @brianmcallister, but that did not fix it I don't think.

While testing it I did get it locally linked and it did work but now comparing the sym linked `redux-websocket` and the distributed one, I think something is getting lost in translation but I don't know what's causing the difference.

Here is the distributed 1.1.1:

![distributed-redux-websocket](https://user-images.githubusercont

[2019-04-30 14:50] brianmcallister commented on #61
@Nolence Thanks for the detail, I'll take a look. This is our first TypeScript library, so we're figuring it out as well!

[2019-04-30 18:13] brianmcallister commented on #61
@Nolence Alright, give `1.1.2` a shot.

[2019-04-30 18:37] Nolence commented on #61
You're awesome @brianmcallister. That did the trick!

Feel free to close again

[2019-04-30 18:38] #61 closed

[2019-04-30 18:38] brianmcallister commented on #61
👍

[2019-05-04 10:05] Eddie-CooRo opened #72 "Add support for subprotocols"
Hi there, I wanted to use your awesome middleware but I need subprotocols and currently, you don't support it.
Actually, it's a very minor change and I am going to open a pull request for it.
If I open this pull request, are you willing to merge it?

[2019-05-08 20:22] brianmcallister commented on #72
Definitely, I'll take a look.

[2019-05-14 20:44] jingoldby opened #74 "handleBrokenConnection public"
Hi there,

first off thanks for making this package!

I was wondering if there was any consideration given to making the handleBrokenConnection function public? In my case, I have a service deployed on a pod that dies gracefully, triggering the REDUX_WEBSOCKET::CLOSED action, but it does not trigger reconnect logic.

I would ideally like to just call handleBrokenConnection from redux middleware an

[2019-05-15 13:32] brianmcallister commented on #74
Hey @jingoldby! Thanks for submitting this.

I did consider making all of the methods on `ReduxWebSocket` public, but thinking about your use case, maybe it would be possible to do what the demo app does to simulate a disconnect?

Here's the code that does that: https://github.com/giantmachines/redux-websocket/blob/master/demo/src/app/components/Controls/Controls.tsx#L107-L113

It creates a new er

[2019-05-15 18:38] jingoldby commented on #74
@brianmcallister thanks for pointing me in the right direction! That worked 👍

[2019-05-15 19:24] jingoldby commented on #74
@brianmcallister hi again,

sorry to disturb again but I've noticed that upon reconnection the handleBrokenConnection setInterval function seems to continue firing even after a successful reconnect resulting in heaps of websocket network requests.

Might need a clearInterval on this.reconnectionInterval?

[2019-05-16 01:04] brianmcallister commented on #74
No problem, thanks for trying out this library!

Question for you... do you see the open action getting dispatched when the library reconnects? The handler for the open event should clear the interval.

[2019-05-21 18:50] jingoldby commented on #74
hi @brianmcallister,

I do see the open action... oddly enough, I actually see a 'closed' action fire after I receive 'reconnected', which then triggers my manual error call in my middleware (same as the demo window.dispatchEvent(new Error('error')) ) and causes the infinite loop of reconnection attempts.

not sure if you know why this extra closed call happens or how in my middleware I can get ar

[2019-05-21 21:22] brianmcallister commented on #74
Huh, that error is pretty strange. Do you have the Redux dev tools set up in your application? Can you inspect the payloads of the actions that are getting dispatched?

[2019-05-23 06:08] jingoldby commented on #74
hey @brianmcallister!

so I looked into it further and you can actually see what's happening with my app if you click the "Simulate Disconnect" button in your demo a few times quickly (it kicks it into an infinite loop of attempted reconnects).

I forked your repo and just added a couple of lines to make sure handleBrokenConnection isn't kicked off multiple times before a reconnection happens ([se

[2019-05-23 14:33] brianmcallister commented on #74
Got it, thanks for that. I'll reopen this now, take a look at your changes, and see if I can get this fixed up.

[2019-05-29 05:14] iMerica opened #75 "Unconventional Redux Usage"
Hi,

I'm finding the [Usage](https://github.com/giantmachines/redux-websocket#usage) steps to be a bit counter-intuitive.

To illustrate the problem, have a look at the official [Redux docs example app](https://redux.js.org/basics/example). You'll observe that actions are called within React components using `mapDispatchToProps`.  They are not called with `store.dispatch(myAction(...))` like the w

[2019-05-29 13:16] brianmcallister commented on #75
You don't need to use Redux with `react-redux`. As long as you have access to the `dispatch` function, you can dispatch actions from anywhere.

Have a look at the [dispatching actions](https://redux.js.org/basics/store#dispatching-actions) section of the Redux documentation.

[2019-05-29 13:31] ubeid commented on #74
was just looking at this issue today. I also had a look at jingoldby's solution.

The loop occurs because in the "handleError" function you're calling "handleBrokenConnection" again, resetting the interval function rather than letting the interval time elapse. Jingoldby tries to avoid this by setting the "alreadyConnected" flag. But this doesn't cater for the reconnectInterval time not being respe

[2019-05-29 13:55] brianmcallister commented on #74
Hey @ubeid thanks for taking a look. My plan is close to what you described, avoiding kicking off a reconnection process when one is already happening. I'll get a solution for that up as soon as I'm able.

[2019-05-29 16:48] iMerica commented on #75
Yep, I have that working already.

It sounds like this tool is basically trying to stay agnostic about the UI then (it could work in React or something else). Okay, thats fine 👍.

[2019-05-29 16:48] #75 closed

[2019-06-21 16:17] brianmcallister commented on #56
Hey @Sergeytroinin, I'm going to close this because it's been a while, but feel free to reopen if this is still an issue for you.

[2019-06-21 16:17] #56 closed

[2019-06-21 16:18] brianmcallister commented on #44
Closing this because it's been open for a while now, but @Craigson feel free to reopen if you're still experiencing difficulties.

[2019-06-21 16:18] #44 closed

[2019-06-21 16:18] brianmcallister commented on #43
Going to close this because it's been open a long time, feel free to reopen if there's more discussion to be had.

[2019-06-21 16:18] #43 closed

[2019-06-21 16:18] #34 closed

[2019-07-10 22:01] nibblebot opened #80 "Date usage in meta.timestamp non-serializable"
Chrome 75/Win10

Error issued to console.
[code]

perhaps a timestamp would be more appropriate here than a date object

[2019-07-10 22:57] brianmcallister commented on #80
What surfaced that error? `Date` objects can be serialized with `JSON.serialize` (you can test this by running `JSON.stringify({ date: new Date() })` in your browser console).

[2019-07-11 13:55] brianmcallister commented on #80
Yep, totally understood on the last point, and I believe JavaScript developers at large are familiar with this.

I would agree that providing your own logic for what is serializable is a good solution, although I also understand that it's a little annoying to have to do it just to deal with my library.

On the other hand `Date` is serializable with `JSON.stringify`, so I find it a little weird tha

[2019-08-13 09:27] vatsalyaagarwal opened #81 "connection closes in seconds with error code 1005"
After connecting to the socket the connection is automatically closed(within seconds) with error code 1005.

[2019-08-16 08:50] jakehewitt opened #82 "Endlessly looping reconnection"
System: 2015 Macbook Pro OSX 10.14.6
Browser: Firefox 68.0.2 & Firefox Developer Edition 69.0b13

Connection establishes fine, bit when I put firefox into offline mode, then back into online mode, I get an endlessly looping reconnecting sequence. Once the network is back up only the following 3 messages are emitted:
[code]
I'm seeing the connection attempts on my WS server.

It's also worth noting

[2019-08-16 19:03] jakehewitt commented on #82
I just saw #76 fixes it.

[2019-08-16 19:03] #82 closed

[2019-08-16 19:13] #74 closed

[2019-08-16 19:23] #72 closed

[2019-08-23 20:22] brianmcallister commented on #81
Hey @vatsalyaagarwal, it would be great to get a little more information around what's happening here. Could you elaborate?

[2019-08-30 06:42] danitt opened #85 "Closed vs Broken Connection"
hi team, love your work here 👍

was hoping someone would be kind enough to shed some light on a connection persistence issue I'm stuck on

I've noticed that killing my ws server often only triggers a client-side 'closed' event without an error event, and this - understandably - does not trigger reconnection attempts

Scratching my head over how to neatly handle all connection drops (both closed an

[2019-08-30 19:00] brianmcallister commented on #85
Huh, interesting. I didn't take into account that the server could also close the connection.

I suppose it would be easy enough to build in an option for this, but if possible I'd love to hear a bit more about your use case. I would think that if the connection was closed server side, the connection is intended to be closed and therefore the server wouldn't expect a client to immediately connect

[2019-09-01 04:11] danitt commented on #85
hi @brianmcallister thanks so much for getting back to me

we're building an internal web app that relies entirely on an active websocket connection, so if the connection dies for any reason, it needs to lock down and just wait until it can establish a conn again

if you have any thoughts on how this could be handled, would be much appreciated 💯

[2019-09-01 20:39] brianmcallister commented on #85
OK, so one option could be to handle the close events with a custom middleware, and dispatch another connect action when you see a close event happen. That would be pretty easy to implement, but it wouldn't have the same handling as a broken connection (retrying over and over again until it succeeds).

It could look roughly something like this:

[code]

[2019-09-02 00:10] danitt commented on #85
@brianmcallister thanks mate, think I will aim for the gold standard and write a fork with a "reconnectOnClosed" option - will let you when complete, in case it's something you'd like in the repo 💫

[2019-09-02 00:10] #85 closed

[2019-09-09 14:15] Pizhevsky opened #87 "NPM gives version with no protocols argument for the connection"
Can you update your npm build version?

[2019-09-09 15:42] brianmcallister commented on #87
Will do, thanks for the heads up @Pizhevsky!

[2019-09-09 15:42] #87 closed

[2019-09-23 21:46] stdmn opened #88 "Possible to send details to server for broken connections vs disconnected connections?"
**Background:**

I'm using AWS Lambda to enable websocket-based communication between my database and the front end. The basic gist of how this works is that when the front-end connects to the backend via websocket, the backend creates a DynamoDB entry with the connection ID. This connection ID is then used to send messages back to the client across different runs of the Lambda functions. (see [ht

[2019-09-24 14:05] brianmcallister commented on #88
Huh, this is an interesting problem. The issue with your proposed solution is that if the connection has already been broken or disconnected, there's no way to send anything back to the server (in fact, this library does _not_ send its own status messages back to your server, only messages you ask it to send).

I'm not familiar with API Gateway WebSockets... is there a way for you to manually hand

[2019-09-24 19:52] stdmn commented on #88
I decided to go a different, somewhat hack-y route. I think what I was encountering was a server timeout at around 2 mins, so I just used client-side `window.setInterval` to ping the server every 45 seconds. This seems to solve the main problem. I'll probably have to write in some reconnect logic to store some info in the client in case of a broken connection.

[2019-09-25 17:43] brianmcallister commented on #88
OK, I'll go ahead and close this for now then. Feel free to re-open if you have any further questions.

[2019-09-25 17:43] #88 closed

[2019-09-25 17:44] brianmcallister commented on #81
Hey @vatsalyaagarwal, I'm going to go ahead and close this, but feel free to re-open if you have further information or questions.

[2019-09-25 17:44] #81 closed

[2019-09-25 17:44] brianmcallister commented on #80
Hey @nibblebot, I'm going to close this for now. Feel free to re-open this or another issue if you have further questions or suggestions. Thanks!

[2019-09-25 17:44] #80 closed

[2019-10-04 17:44] brianmcallister opened #90 "Allow for different reconnection strategies."
Currently, we only try on an interval. It would be nice to support other common retry strategies, including the ability to specify when we should stop retrying.

Let's add at least the option to stop retrying, and an exponential backoff retry strategy.

[2019-10-04 17:57] brianmcallister commented on #90
This could be a good library to try out for this: https://www.npmjs.com/package/retry

[2019-10-06 18:36] MrCookie opened #92 "Allow sending binary data"
https://github.com/giantmachines/redux-websocket/pull/91 :)

[2019-10-08 14:49] brianmcallister commented on #92
Thanks @MrCookie! We'll be reviewing that PR as we're available over the next week or so. I'll go ahead and close this issue, since I think it'll make more sense to keep all conversation in the PR itself.

[2019-10-08 14:49] #92 closed

[2019-10-25 18:26] chenghw opened #93 "Add state charts to demo application"
I think it'd be an enhancement on the demo application to have a predefined state machine for this application. We can use [xstate](https://github.com/davidkpiano/xstate) and start incrementally by implementing it in a small place within the application. Maybe the StatusContents section where we control connecting, disconnecting, and status of the connection.

[2019-11-14 07:19] lordi opened #95 "Distinguish beween server http responses"
If a http error code is returned during connect, a PREFIX::ERROR message is dispatched, but the action object does not contain the http error code. Thus it is not possible to distinguish between 401 and timeout, for instance.

[2020-01-24 14:50] Evgenus opened #101 "A non-serializable value was detected in an action"
Redux requires actions to be serializable. Timestamp is a Date however API reference in readme says that it is string.

<img width="507" alt="зображення" src="https://user-images.githubusercontent.com/379412/73077783-87728780-3ec9-11ea-90e7-73ad99feb64e.png">

[2020-01-30 21:48] procchio6 commented on #101
Hi @Evgenus, thanks for submitting this issue. We will update the README to note that `meta.timestamp` is a data object. Since changing the timestamp to a string is a breaking change we will make this update for v2 of the library.

This error seems to be coming from [redux-toolkit middleware](https://github.com/reduxjs/redux-toolkit/blob/master/src/serializableStateInvariantMiddleware.ts) as was t

[2020-02-05 19:58] #101 closed

[2020-02-18 19:45] JodyAndrews opened #103 "reconnectOnClose - except when WS responds with error"
Hi,

Firstly thanks for a great lib, I've used this in three projects now.

A question about reconnectOnClose though. The readme.md says :

I'm not sure what is meant by the error event. If I call, for example (with ws on node) ws.close(1007) the client still attempts to reconnect, and seemingly over time attempts to reconnect faster. Is that expected?

Cheers, Jode

[2020-02-18 20:05] kevinmaes commented on #95
Hi @lordi Thanks for filing this issue. Apologies for the delayed response but we are happy to look into this now.

[2020-02-18 20:10] kevinmaes commented on #103
Hi @JodyAndrews Thanks for the compliments and for raising this issue. It seems like the library's `handleClose` is just ignoring the error status you're sending and attempting to reconnect automatically if `reconnectOnClose` is set to `true`. We can treat this as a bug and fix it soon.

In terms of the interval changing, I don't see that happening in the code; it looks like the `reconnectInterval

[2020-02-18 20:50] JodyAndrews commented on #103
Thanks Kevin, wasn't expecting such a quick reply.

I haven't found where the interval could change in the code itself either, but noticed a few times now the service was getting spammed with reconnections much quicker than the default 2000 after I'd walked away and came back some hours later after the service had already requested a permanent close on each connection. I'll take a look at that one

[2020-02-18 22:12] JodyAndrews commented on #103
So I'm somewhat certain the 'spam' reconnect is due to ReduxWebSocket.ts:232

    // Attempt to reconnect immediately by calling connect with assertions
    // that the arguments conform to the types we expect.
    this.connect(
      { dispatch } as MiddlewareAPI,
      { payload: { url: this.lastSocketUrl } } as Action,
    );

Since the service is accepting connections (but in this case actuall

[2020-03-06 22:06] JodyAndrews commented on #103
Hey folks, any feedback on this one.

[2020-03-09 13:20] kevinmaes commented on #103
Hi Jode. So sorry for the delay. We are going to have a look into the issue this week. Thank you for your analysis and also for your patience in the meantime!

[2020-03-10 03:53] Chun-Lin commented on #103
I also have this problem when the connection closed and the client begins to reconnect, it will try to send requests frequently (much faster than 2000ms), just like infinite loop.

[2020-03-11 21:03] procchio6 commented on #103
@JodyAndrews  I think the README is misleading. With `reconnectOnClose` we are currently attempting to reconnect no matter how the connection was closed by the server. It may make sense to stop reconnecting if the server closes the connection normally with a 1000 code. For your use case how do you expect it to behave?

With the current implementation it is also possible to get into fast reconnect

[2020-03-13 00:40] JodyAndrews commented on #103
Hi @procchio6

There's (unfortunately) two issues in this one, the latter is only noticeable from fixing the primary issue..

_The service closes connection for 'any' reason._

**Expect :**

Client should then attempt reconnection only every (by default 2000ms) ms.

**Actual :**

Client attempts to reconnect immediately, and loops until it does, infinitely.

**Reason :**

As mentioned...

The bloc

[2020-04-03 19:56] kevinmaes opened #110 "Document how to set up local dev environment for testing connections"
Document how to set up local dev environment and test connection close, connection errors, and reconnection attempts

[2020-04-03 20:00] kevinmaes commented on #103
We are planning on setting up testing to fix these issues in the very near future. Thank you for all of your feedback and patience.

[2020-04-03 20:00] kevinmaes opened #111 "Update TypeScript to v3.8.x"

[2020-04-03 20:01] kevinmaes opened #112 "Add Prettier v2.x"

[2020-04-08 20:05] JodyAndrews commented on #103
Thanks Kevin, looking forward to it.

In the meantime, for the latter issue.. in handleClose I'm now just checking the event.wasClean value (event type param should be CloseEvent in this function), then if !wasClean we can then attempt to reconnect, otherwise dispatch something like an abortReconnect to handle later etc.

ie..

`
	private handleClose = (dispatch: Dispatch, prefix: string, event: C

[2020-04-16 13:56] bjornSayers commented on #103
We have been using this library for a few months and also have issues with reconnects; although otherwise the library/interface is very nice to use.  In particular we have issues with reconnects occurring after the server explicitly rejects the connection because the client no longer has the appropriate permissions.  We were planning to do something similar to the event.wasClean check above to avo

[2020-04-18 19:57] msutkowski commented on #101
I just wanted to leave a note here in case anyone stumbles on it. If you're using [redux-toolkit](https://redux-toolkit.js.org/) and bothered by the message, you can have the middleware ignore it by setting the `ignoredActionPaths` when calling `configureStore` like this:

[code]

[2020-04-20 08:40] dsalisbury opened #117 "Attempting reconnection if it fails on the first attempt"
Hey hey

Thanks for the great library and doco to go with it!

One thing which tripped me up was that the library doesn't attempt any reconnection if the initial connection fails. I see in the code there's a comment indicating that this is the intended behaviour:

https://github.com/giantmachines/redux-websocket/blob/master/src/ReduxWebSocket.ts#L251

Rather than having to implement in this retry-

[2020-04-22 18:56] chenghw opened #118 "Add more keywords to package.json"
Currently on npmjs, `@giantmachines/redux-websocket` only have a single keyword which is `redux`. I think we should add least these: `websocket`, `typescript` and maybe `middleware`

Thoughts on any others?

[2020-04-22 19:02] mechmillan commented on #118
Maybe 'javascript' and 'actions' or 'flux-standard-actions' ?

[2020-04-22 20:03] kevinmaes commented on #118
I think `middleware` for sure. Maybe also something like `real-time` and/or `streaming`.

[2020-04-24 18:20] #118 closed

[2020-04-24 19:00] #112 closed

[2020-04-24 19:34] procchio6 commented on #117
Hi @dsalisbury, thanks for opening this issue. You are correct that the library will only attempt to reconnect if the connection was successfully opened at least once. We also have issue #90 for adding different reconnect strategies like exponential backoff and max retries which may fit well with this solution. We'd be happy to work with you on getting something like this implemented.

[2020-05-05 07:28] dsalisbury commented on #117
hey @procchio6! Thanks replying. I've raised this WIP PR to get some general feedback: https://github.com/giantmachines/redux-websocket/pull/123

let me know if you have any thoughts.

[2020-05-20 00:45] MichaelDanielTom opened #124 "Property '__webpack_require__' doesn't exist"
Hey all,
I've been using this with our React-Native app, and it works great on iOS. But on Android, it has trouble importing, throwing `ReferenceError: Property '__webpack_require__' doesn't exist` while trying import anything from `@giantmachines/redux-websocket`. It appears to be coming from within dist/index.js on line 21:

`modules[moduleId].call(module.exports, module, module.exports, __webpa

[2020-05-20 17:25] MichaelDanielTom commented on #124
Update: Looks like this issue is related to [Hermes](https://reactnative.dev/docs/hermes), since when running with V8 (which the chrome debugger uses) or with JavaScriptCore (which RN on iOS uses, and Android if Hermes is disabled), everything is fine.

[2020-05-22 18:37] chenghw commented on #124
Hi @MichaelDanielTom , thanks for opening this issue. We can look into this. I think I may know what could be going wrong and it'd be tied with how we are building our library. In order to test this assumption, can you upload an example repository which would produce this error? I'll clone/fork your example and try fixing it locally.

[2020-05-22 18:38] chenghw commented on #117
Hi @dsalisbury Sorry for the delayed response. I will take a look at your PR and get back to you as soon as possible.

[2020-05-23 21:21] MichaelDanielTom commented on #124
Just made [this minimal repo](https://github.com/MichaelDanielTom/ReduxWebsocketMinimalBugExample) where I did `react-native init`, yarn added redux-websocket, imported it at the top of `App.js`, enabled hermes, and then ran it on Android, and it produced the same error. If you clone the repo, run `yarn install`, and then `npx react-native run-android` (with an android device or emulator connected

[2020-05-29 13:33] chenghw commented on #124
I forgot how finicky React Native can be, I'm having some issues with my Android emulator starting up. In terms of the Reflect and why we're using it over normal object property access, there is probably not a good reason. When you forked and changed it to `Reflect` did it fix the problem?

[2020-06-30 16:45] chenghw opened #129 "Migrate package to new namespace"

[2020-06-30 16:46] chenghw opened #130 "Fix releases in github referring to 0.20.0 as latest"

[2020-06-30 16:47] chenghw opened #131 "Add http codes to actions"

[2020-06-30 16:47] chenghw opened #132 "Add socket.io support"

[2020-06-30 16:47] chenghw opened #133 "dd support for multiple connections within a single instance of the middleware"

[2020-06-30 16:48] chenghw opened #134 "Add support for multiple connections within a single instance of the middleware"

[2020-06-30 17:29] chenghw opened #135 "Add Date serializer option to middleware"

[2020-06-30 17:53] chenghw opened #136 "Add message filtering to ReduxWebsocket"

[2020-07-06 17:04] LiamGregory opened #137 "should reconnectOnClose resend the protocols ?"
When a reconnect happens the protocols aren't being sent

[2020-07-07 17:07] chenghw commented on #137
@LiamGregory thanks for reaching and logging the issue. You are correct and this is a bug. We'll get this fixed and pushed out in the next release.

[2020-07-07 17:19] chenghw commented on #134
Duplicate #133

[2020-07-07 17:19] #134 closed

[2020-07-07 18:01] #137 closed

[2020-07-10 11:17] orangecoding opened #140 "Adding a changelog"
Hi,

thanks for building this lib. I'm using it with rematch. It would be helpful to provide a changelog. Most of the opensource dev's simply have a CHANGELOG.md within their repo.

Thanks and keep rockin!

[2020-07-13 14:35] chenghw commented on #130
Just published the latest release, will have to look into it this can be done automatically

[2020-07-15 18:42] chenghw commented on #140
Hi! Thanks for commenting. Great point, we'll start doing this moving forward.

Thanks!

[2020-07-22 15:20] kevinmaes commented on #111
We'll just use whatever is the latest version of TypeScript in the v2 branch. Closing this issue.

[2020-07-22 15:20] #111 closed

[2020-07-22 15:59] kevinmaes commented on #95
We will address this issue as part of #103 for an upcoming v2 release.

[2020-07-22 15:59] #95 closed

[2020-07-22 16:32] kevinmaes commented on #60
We are now working on a method that should provide type safety of the action type for TypeScript users while still retaining the simplicity of prepending the prefix for regular JS users. This will be part of a v2.

[2020-07-22 16:32] #60 closed

[2020-08-04 17:08] chenghw commented on #130
Did it manually for now. Closing this out and may revisit

[2020-08-04 17:08] #130 closed

[2020-08-06 09:53] nick10811 commented on #9
@brianmcallister I have the same issue.

[2020-08-08 14:14] tifa2UP opened #146 "Usage with Next.js error"
Hi 👋,

I'm trying to use the repo with next.js and render the code on the server, but I'm getting an error when instantiating the middleware stating that `window` is not defined.

![image](https://user-images.githubusercontent.com/11590314/89712554-f14c0d80-d991-11ea-870b-bf286e8ffd64.png)

This is because the output file uses a window object:
![image](https://user-images.githubusercontent.com/115

[2020-08-08 18:13] tifa2UP commented on #146
After a day of digging, this change fixed it for me:

![image](https://user-images.githubusercontent.com/11590314/89717109-84496f80-d9b3-11ea-80bb-7fd7711fbae7.png)

The window object is not available on SSR applications.

Source: https://github.com/webpack/webpack/issues/6642

[2020-08-08 18:17] tifa2UP commented on #146
Created a PR for the fix here #147

[2020-08-11 17:24] chenghw commented on #146
@tifa2UP I've merged your fix in and bumped the version to 1.2.3. Thanks again.

[2020-08-11 17:24] #146 closed

[2020-08-18 21:27] SystemBlad commented on #124
Hi guys,
I had the same BUG using version 1.2.3, to solve it momentarily I needed to deactivate hermes.
@MichaelDanielTom how you fixed it?

[2020-08-23 20:37] K12AZ commented on #19
how to use onOpen, Couldn't find the proper way,

COuld you able to explain?

TIA

[2020-08-25 01:40] MichaelDanielTom commented on #124
Hey SystemBlad, sorry for the late response - I actually ended up forking it and changing [this line](https://github.com/giantmachines/redux-websocket/blob/master/src/createMiddleware.ts#L49)
```const handler = Reflect.get(handlers, baseActionType);```
to
```const handler = handlers[baseActionType];```
It should have the same functionality but works with Hermes, aside from some subtle [differences

[2020-09-15 05:17] hussainahmad opened #150 "No option to set Cookie with header in web socket"
Hi, thanks for this library.  I want to connect Cookie in header with with websocket like protocol. I checked the library I didn't find any option to set cookie.

[2020-09-15 17:16] chenghw commented on #150
Hi @hussainahmad , thanks for the issue.

I was researching on ways to send cookies with the Websocket, I can't find a solution. Based on the TypeScript types of a WebSocket interface as well as this [stackoverflow post](https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api/41521871#41521871), I don't see this as a possibility.

If you have any thoughts on how this woul

[2020-09-15 17:17] chenghw commented on #150
I am closing this issue for now, please re-open if need be.

[2020-09-16 05:23] hussainahmad commented on #150
@chenghw  I want to set cookie in header like this.
[code]
as in my scenario I establish socket connection in base of session ID .  I didn't get any clue for this. Thanks for the help.

[2020-09-16 05:44] hussainahmad commented on #150
In my app I am setting cookie this way which is working fine.  I need an authorisation for user to establish sock connection.

[2020-09-29 17:38] #135 closed

[2020-10-06 17:06] chenghw commented on #140
Added in [1.3.0](https://github.com/giantmachines/redux-websocket/pull/153)

[2020-10-06 17:06] #140 closed

[2020-10-06 17:13] chenghw commented on #93
Irrelevant

[2020-10-06 17:13] #93 closed

[2020-10-06 17:22] chenghw commented on #150
Hi @hussainahmad sorry for the late reply, I am not seeing this as a supported feature for HTML5 WebSockets.

https://developer.mozilla.org/en-US/docs/Web/API/WebSocket
https://www.tutorialspoint.com/html5/html5_websocket.htm

As well as the TS documentation for WebSocket, the constructor only takes 2 arguments like the two resources state above.

[2020-10-06 17:26] chenghw commented on #124
Hey @MichaelDanielTom sorry going through the backlog of closed issues and see this was actually continued. Sorry for the late reply. If you put up a PR for this line change we can accept it.

Thanks,

[2020-10-07 06:43] hussainahmad commented on #150
@chenghw Thanks for your time. As this is based on TypeScript we can't do this. so I wrote my own middleware. closing this now .

[2020-10-07 06:43] #150 closed

[2020-10-19 16:33] elboletaire opened #154 "Add a new `deserializer` option for message deserializing"
I'm sure I'm not the only one who always responds using json when using websockets. Having a `deserializer` option would make sense for these cases where our response is not intended to be a plain string, and to avoid using `JSON.parse` many times in different reducers.

[2020-10-20 17:17] procchio6 commented on #154
Hi @elboletaire, we will consider adding this feature in a future update. We think this can be added in a backwards compatible way following the same pattern as the serializer option. Thanks for the suggestion!

[2020-10-22 10:33] elboletaire commented on #154
Yeah it can easily be backwards compatible (by default have nothing, so it's not deserialized), and I didn't say it but having it as a configurable callback allows not only to deserialize as json, but as any other desired format (like XML, or whatever people use in websockets).

[2020-11-10 16:23] master-elodin commented on #117
Any update on this?

[2020-11-17 18:23] chenghw commented on #154
@elboletaire we've merged the feature https://github.com/giantmachines/redux-websocket/pull/157 and included it in `1.4.0`

Thanks

[2020-11-17 18:23] #154 closed

[2021-04-05 01:14] davidcheal opened #166 "Question: Best place to connect WS connect when using a dynamic url"
Hi, I'm having some trouble connecting when using a dynamic url.

I can get the demo code to work fine but I need to add a jwtToken to my WSS url before calling it. I only have the token available after logging in, which means I cant call connect() during the store creation.

Where would be the best place to call connect(url, prefix)?

Im using create-react-app template. So have redux, saga etc. I

[2021-04-05 04:44] davidcheal commented on #166
Not sure if this is the most effective way, but i got this working using a Redux Action and Saga.

I put the websocket middleware in as per the guide, then I created an action that is called by app.js after successful logon. The action then calls a saga which calls connect(). The url is passed down to the saga as a variable.

If there is a smarter way of doing it, please let me know :)

Thanks,

[2021-04-18 17:56] doraeric opened #167 "Serialize date when dispatching it"
Currently, we can create the middleware with `dateSerializer`, but it dispatches actions with `Date` type in metadata, then serializes the timestamp when the middleware receives it.

It gives a warning like:
[code]
when using with redux toolkit getDefaultMiddleware

[redux recommend actions to be serializable](https://redux.js.org/faq/actions#why-should-type-be-a-string-or-at-least-serializable-wh

[2021-05-15 06:05] Alexlee500 commented on #124
Are you sure the issue is coming from Reflect?
I tried this solution in my fork and the issue was not resolved. Currently on v1.5.0
[code]

[2021-05-24 01:32] adamstorr opened #177 "[CSP] Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script"
Hi there! I'm working with a strict CSP and am running into the following error after removing `unsafe-eval` from `script-src`.

`Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'`

![image](https://user-images.githubusercontent.com/155064/119284602-eeef3300-

[2021-10-04 11:56] #166 closed

[2022-03-28 14:12] Ding-Fan commented on #124
To avoid this error, I have to download the `.min.js` file of the library I use and included it to my project.

[2022-04-10 10:45] wolftech-app commented on #124
Alexlee500 is right, the build process is the problem in this case. For example if webpack replaced with rollup, then this problem has gone.

This package only implements just that:
https://www.npmjs.com/package/@wolftech.app/redux-websocket